# System files
.DS_Store

# Logs
logs
*.log
.pnpm-debug.log*

# Dependencies
node_modules

# Compiled binary addons
build/Release

# Builds
dist

# TypeScript cache
*.tsbuildinfo

# Turborepo
.turbo

# Others
SPECS.md
